# Python gereksiz dosyaları
__pycache__/
*.py[cod]

# Sanal ortam
venv/
.env

# Veritabanı dosyaları
*.sqlite3
*.log

# IDE ayarları
.vscode/
# Veri Deposu (Büyük CSV dosyaları yüklenmesin)
data/storage/*.csv
data/storage/*.xlsx
*.pkl
*.json


# Veritabanı dosyaları (Geçmiş işlemleri yükleme)
*.db
*.sqlite3